<!doctype html>
<html ng-app = "mainMod">
    <head>
        <script src="angular.min.js"></script>
        <script src="main.js"></script>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div ng-controller="myController">
            <!-- Menu -->
          <ul class="menu">
            <li id="logo"><a href="#Dormies">{{title}}</a></li>
            <li class="bar"><a href="#prof">Profile</a></li>
            <li class="bar"><a href="#house">Houses</a></li>
            <li class="bar"><a href="#roommate">Roommates</a></li>
          </ul>
        </div>
        <div ng-controller="search">
            <input name="widget.title" ng-model="widget.title">
            <button ng-click="Search">Search</button>
        </div>
        
    </body>
</html>