
body {
    background-image: url("beach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
  width:90%;
  position: fixed;
  display:inline;
}

.menu ul {
  width:100%;
  margin:0;
  padding:0;
  position:center;
}

.menu li {
  font-family: 'Open Sans', sans-serif;
  line-height: 60px;
  display:inline;
  padding: 5px;
}

.menu a {
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.bar{
  float:right; 
}

input{
    margin-top:25%;
    margin-left: 33%;
    width:350px;
    height:40px;
}

button{
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    height:45px;
    background-color: paleturquoise;
}